@import "tailwindcss";

@theme inline {
  --color-navy: #212842;
  --color-milk: #F0E7D5;
  --color-orange: #FF6B35;
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-dm-serif), serif;
}
